@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    font-family: "Manrope", sans-serif;
}
.tick_icon{
    color: #10d8c4;
    padding-right: 10px;
}
li{
    padding: 5px 0px;
}
.submit__btn{
    width: max-content;
    padding: 12px 40px;
    border-radius: 2rem;
    background: #293356;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #becdff;
    transition: color 250ms ease-in-out;
    border: none;
}